<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Get R25 Free on your BetWay Registration">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetVouch | Free R25 Voucher on Registration</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="main-text">
        <h1 class="name">BetVouch</h1>
        <p class="tagline">Get started on BetWay with <b>R30</b> FREE with BetVouch. </p>
    </div>
    
    <form action="/send" method="post" spellcheck="false">
        <input type="tel" name="tel" id="tel" minlength="10" maxlength="10" pattern="[0][0-9]{9}" placeholder="Your Phone Number" oninvalid="invalidNumber();" required>
        <input type="submit" class="submit-btn" value="Go">
    </form>

    <script src="scripts/app.js"></script>
</body>
</html>