<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Get R25 Free on your BetWay Registration">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetVouch | Free R25 Voucher on Registration</title>
</head>
<body>
    <h1>BetVouch</h1>
    <form action="/send" method="post">
        <input type="tel" name="tel" id="tel" required>
    </form>

    <script src="scripts/app.js"></script>
</body>
</html>