<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Get R25 Free on your BetWay Registration">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BetVouch</title>
    
    <!-- ! Favicons -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <!-- Apple -->
    <link rel="apple-touch-icon" href="assets/favicon/apple-touch-icon-iphone-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-ipad-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-iphone-retina-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-ipad-retina-152x152-precomposed.png">
    
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body class="light">
    <div class="theme-toggler">
        <img src="/assets/moon.svg" alt="a vector graphic moon" class="dark">
        <img src="/assets/sun.svg" alt="a vector graphic sun" class="light">
    </div>

    <div class="main">

    <div class="main-text">
        <h1 class="name">BetVouch</h1>
        <p class="tagline">Get started on BetWay with <b>R30</b> FREE with BetVouch. </p>
    </div>

    <form action="/send" method="post" spellcheck="false">
        <div class="input-wrapper">
            <input type="tel" name="tel" id="tel" minlength="10" maxlength="10" pattern="[0][6-8][0-9]{8}" placeholder="Your Phone Number" oninvalid="inputError('#ED254E');" oninput="isValid()" required>
            <small class="input-error"></small>
        </div>
        <img src="/assets/loading.svg" class="loader" alt="loading icon">
        <div class="message-wrapper">
            <img src="/assets/error.svg" class="error-icon icon" alt="a vector graphic error/alert icon">
            <img src="/assets/sms.svg" alt="a vector graphic sms" class="sms-icon icon" width="auto">
            <p class="message"></p>
        </div>
        <input type="submit" class="submit-btn" value="SEND" disabled>
    </form>
</div>

    <footer>
        <p>By <a href="https://twitter.com/trinitysenpai" class="twitter-link">@trinitysenpai</a> for BetVouch</p>
        <img src="/assets/facebook.svg" width="130px" alt="A facebook logo with the name BetVouch on the right side of it">
    </footer>
    <script src="scripts/app.js"></script>
</body>

</html>