@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,300&display=swap');

// COLORS
$desaturated-purple: #2B2D42;
$baby-blue: #0abaff;
$light-green: #4ECB71;
$baby-red: #ED254E;
$orange-yellow: #F7B32B;
$powder-white: #FFFFFC;
$font-stack-serif: 'Montserrat',
sans-serif;
$form-input-radius: 6px;
$submit-btn-height: 45px;
$title-n-form-gap: 4rem;

@media (min-width: 480px) {
    form {
        flex-direction: row !important;

        input[type="tel"] {
            text-align: left !important;
        }

        .submit-btn {
            width: 150px !important;
        }
    }

    footer {
        flex-direction: row !important;
        font-size: medium !important;
    }
}

@media (max-width: 365px) {
    .theme-toggler {
        top: 10px !important;
        right: 10px !important;
        margin: 0 !important;
    }
    
    form {
        width: 90% !important;
        
        .icon {
            max-width: 120px !important;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

// for hiding elements
@mixin hide {
    width: 0;
    scale: 0;
}

@mixin alignCenter {
    text-align: center;
    margin: 0 1rem;
}

html,
body {
    transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    @include flexCenter;
    background-color: $desaturated-purple;
    width: 100%;
    height: 100%;
    font-family: $font-stack-serif;
    flex-direction: column;
    gap: $title-n-form-gap;
}

.theme-toggler {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 2rem;

    .light {
        display: none;
    }

    img {
        width: 45px;
    }
}

.main-text {
    @include flexCenter;
    flex-direction: column;
    gap: 10px;
    color: $powder-white;
    @include alignCenter;
}

form {
    * {
        outline: none;
    }

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-wrapper {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 5px;
    }

    input[type="tel"] {
        transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
        border: 3px solid transparent;
        width: 100%;
        padding: 10px;
        border-radius: $form-input-radius;
        font-family: $font-stack-serif;
        font-weight: 800;
        text-align: center;
    }

    .loader {
        transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: rotate(0deg);
        @include hide;
        animation: load 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards infinite;
    }

    .message-wrapper {
        @include flexCenter;
        flex-direction: column;
        gap: 1rem;

        .message {
            color: $powder-white;
            @include alignCenter;
        }

        .icon,
        .message {
            transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
            position: absolute;
            @include hide;
        }

        .icon {
            width: 100%;
            max-width: 200px;
        }
    }

    .submit-btn {
        transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
        cursor: pointer;
        width: 100%;
        height: $submit-btn-height;
        border: none;
        border-radius: $form-input-radius;
        color: $powder-white;
        font-weight: 600;
        background-color: $light-green;
    }

    .submit-btn:disabled,
    input[type="tel"]:read-only {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

footer {
    @include flexCenter;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
    position: absolute;
    bottom: 1rem;
    font-weight: 800;
    color: white;
    font-size: small;

    .twitter-link {
        color: $baby-blue;
    }
}

body.light {
    background: $powder-white;

    .light {
        display: block;
    }

    .dark {
        display: none;
    }

    form input[type="tel"] {
        background-color: $powder-white;
        border-color: black;
    }

    .main-text,
    .message,
    footer {
        color: black;
    }

}

form.process {
    .submit-btn {
        width: 0 !important;
        scale: 0;
    }

    .loader {
        width: auto;
        scale: 1;
    }
}

form.success {
    gap: 0 !important;

    // show sms icon
    .sms-icon {
        scale: 1;
        position: static;
        display: block;
    }

    // hide input and loader
    .loader,
    input[type="tel"] {
        @include hide;
        padding: 0;
    }

    .message {
        position: static;
        width: auto;
        scale: 1;
    }
}

form.failed {
    gap: 0 !important;

    // show sms icon
    .error-icon {
        scale: 1;
        position: static;
        display: block;
    }

    // hide input and loader
    .loader,
    input[type="tel"] {
        @include hide;
        padding: 0;
    }

    .message {
        position: static;
        width: auto;
        scale: 1;
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}